In [2]:
import pandas as pd

#  to read particular sheet from excel file--------------
# df = pd.read_excel('nameOfExcelFile.xlsx', sheet_name='Sheet2')

#  to write excel file within particular sheet--------------
# with pd.ExcelWriter('nameOfExcelFile.xlsx') as w:
#     df1.to_excel(w, sheet_name='First')
#     df2.to_excel(w, sheet_name='Second')


df1 = pd.DataFrame([[2,4,2],[3,1,2],[7,8,9]], columns=['A','B','C'])
df1

   A  B  C
0  2  4  2
1  3  1  2
2  7  8  9

In [3]:
df2 = pd.DataFrame([[11,8,5],[2,4,1],[78,1,34]], columns=['X','Y','Z'])
df2

    X  Y   Z
0  11  8   5
1   2  4   1
2  78  1  34

In [4]:
df3 = pd.merge(df1, df2, right_on='Y', left_on='B')
df3                   # merge means to map the equal values

   A  B  C   X  Y   Z
0  2  4  2   2  4   1
1  3  1  2  78  1  34
2  7  8  9  11  8   5

In [9]:
dict1 = {
    "name":["A","B","C","D"],
    "marks":[97,94,None,96],
    "city":["Delhi","Mumbai","Chennai","Assam"]
}
dfdict1 = pd.DataFrame(dict1)
dfdict1

  name  marks     city
0    A   97.0    Delhi
1    B   94.0   Mumbai
2    C    NaN  Chennai
3    D   96.0    Assam

In [10]:
dfdict1.to_csv('export61.csv', index=False, na_rep="Oops!")

In [11]:
dfdict1.describe()   # only applicable for num entry val to get their quick report

           marks
count   3.000000
mean   95.666667
std     1.527525
min    94.000000
25%    95.000000
50%    96.000000
75%    96.500000
max    97.000000

In [12]:
dfdict1.index = ['one','two','three','four']
dfdict1

      name  marks     city
one      A   97.0    Delhi
two      B   94.0   Mumbai
three    C    NaN  Chennai
four     D   96.0    Assam