In [1]:
import pandas as pd
import numpy as np
'''
Pandas has two types of datasets--
1. Series
2. Dataframe
'''

'\nPandas has two types of datasets--\n1. Series\n2. Dataframe\n'

In [2]:
series = pd.Series(np.random.rand(34))
dataFrame = pd.DataFrame(np.random.rand(34,5))
print(series)
print(dataFrame)

0     0.328369
1     0.864986
2     0.590193
3     0.091586
4     0.329761
5     0.126244
6     0.904685
7     0.719152
8     0.608648
9     0.704840
10    0.264114
11    0.818866
12    0.683495
13    0.982660
14    0.487054
15    0.366837
16    0.252640
17    0.094923
18    0.568012
19    0.927650
20    0.494799
21    0.748189
22    0.246010
23    0.499886
24    0.549645
25    0.030358
26    0.726452
27    0.613826
28    0.971982
29    0.759491
30    0.632543
31    0.578839
32    0.040219
33    0.724887
dtype: float64
           0         1         2         3         4
0   0.546695  0.585909  0.437481  0.820612  0.508923
1   0.116517  0.647416  0.801122  0.881324  0.578645
2   0.758204  0.640641  0.626322  0.322458  0.526259
3   0.223093  0.138434  0.127043  0.239875  0.733461
4   0.560790  0.419940  0.827129  0.534512  0.121535
5   0.894021  0.916261  0.918080  0.986780  0.512145
6   0.287640  0.036746  0.615694  0.305193  0.712488
7   0.148725  0.832156  0.671779  0.244533  0.219501
8   0.283902  0.468391  0.996250  0.938449  0.562281
9   0.537512  0.958410  0.395082  0.908772  0.474709
10  0.317809  0.265282  0.328287  0.645081  0.513005
11  0.052996  0.684006  0.738290  0.523197  0.576483
12  0.951434  0.566568  0.455462  0.830122  0.160939
13  0.172298  0.732286  0.177910  0.514771  0.165178
14  0.418874  0.274565  0.339404  0.135870  0.636400
15  0.817871  0.659662  0.827504  0.903507  0.951173
16  0.393734  0.604053  0.827457  0.790562  0.710632
17  0.161495  0.888906  0.690438  0.603652  0.331611
18  0.606579  0.586689  0.620238  0.618483  0.377888
19  0.661509  0.227546  0.659997  0.842793  0.462561
20  0.709534  0.708411  0.462889  0.377074  0.800545
21  0.172158  0.967806  0.701841  0.399117  0.675442
22  0.272508  0.444573  0.259668  0.321200  0.911481
23  0.288046  0.046703  0.536819  0.003236  0.840646
24  0.632186  0.752416  0.932749  0.394047  0.842710
25  0.865021  0.153741  0.393308  0.012987  0.802704
26  0.837379  0.476314  0.118626  0.593367  0.816465
27  0.796514  0.673960  0.401659  0.419141  0.611344
28  0.994922  0.474903  0.664137  0.925552  0.903305
29  0.758537  0.059236  0.784271  0.105410  0.197791
30  0.443552  0.146769  0.829152  0.148881  0.090505
31  0.086043  0.219358  0.413864  0.612211  0.516281
32  0.322941  0.876813  0.218641  0.652735  0.855307
33  0.144013  0.964964  0.911828  0.024713  0.440907

In [3]:
dataFrame.describe()
# dataFrame[0][0] = 'lol'
# dataFrame.describe()

# dataFrame.dropna()  # remove complete rows or coloumns where NaN is present
# dataFrame.drop_duplicates()   # remove duplicates

# imp funcs for analysis
# dataFrame.mean()
# dataFrame.std()
# dataFrame.count() 
# dataFrame.max()
# dataFrame.min()
# dataFrame.median()

               0          1          2          3          4
count  34.000000  34.000000  34.000000  34.000000  34.000000
mean    0.477501   0.532348   0.579718   0.517065   0.562978
std     0.286620   0.289678   0.249327   0.300539   0.247557
min     0.052996   0.036746   0.118626   0.003236   0.090505
25%     0.235447   0.267603   0.396726   0.309194   0.446321
50%     0.431213   0.586299   0.623280   0.528854   0.569382
75%     0.746036   0.726317   0.796909   0.813099   0.783774
max     0.994922   0.967806   0.996250   0.986780   0.951173

In [4]:
dataFrame.drop(0, axis=1)     # delete any row or column

           1         2         3         4
0   0.585909  0.437481  0.820612  0.508923
1   0.647416  0.801122  0.881324  0.578645
2   0.640641  0.626322  0.322458  0.526259
3   0.138434  0.127043  0.239875  0.733461
4   0.419940  0.827129  0.534512  0.121535
5   0.916261  0.918080  0.986780  0.512145
6   0.036746  0.615694  0.305193  0.712488
7   0.832156  0.671779  0.244533  0.219501
8   0.468391  0.996250  0.938449  0.562281
9   0.958410  0.395082  0.908772  0.474709
10  0.265282  0.328287  0.645081  0.513005
11  0.684006  0.738290  0.523197  0.576483
12  0.566568  0.455462  0.830122  0.160939
13  0.732286  0.177910  0.514771  0.165178
14  0.274565  0.339404  0.135870  0.636400
15  0.659662  0.827504  0.903507  0.951173
16  0.604053  0.827457  0.790562  0.710632
17  0.888906  0.690438  0.603652  0.331611
18  0.586689  0.620238  0.618483  0.377888
19  0.227546  0.659997  0.842793  0.462561
20  0.708411  0.462889  0.377074  0.800545
21  0.967806  0.701841  0.399117  0.675442
22  0.444573  0.259668  0.321200  0.911481
23  0.046703  0.536819  0.003236  0.840646
24  0.752416  0.932749  0.394047  0.842710
25  0.153741  0.393308  0.012987  0.802704
26  0.476314  0.118626  0.593367  0.816465
27  0.673960  0.401659  0.419141  0.611344
28  0.474903  0.664137  0.925552  0.903305
29  0.059236  0.784271  0.105410  0.197791
30  0.146769  0.829152  0.148881  0.090505
31  0.219358  0.413864  0.612211  0.516281
32  0.876813  0.218641  0.652735  0.855307
33  0.964964  0.911828  0.024713  0.440907

In [5]:
a = pd.DataFrame()
print(a)

Empty DataFrame
Columns: []
Index: []

In [6]:
a = pd.DataFrame([[4,5,1,5,9],[8,6,5,7],[6,2,3,0],[25,40,53,67]])
print(a)
a.to_csv('export5.csv', index=False, na_rep="Oops!", header=['A', 'B','C','D','E'])

    0   1   2   3    4
0   4   5   1   5  9.0
1   8   6   5   7  NaN
2   6   2   3   0  NaN
3  25  40  53  67  NaN

In [7]:
a.head(1)     # this is slicing from top
a.tail(2)     # this is slicing from bottom
a.tail(2)     # this is slicing from bottom and

    0   1   2   3   4
2   6   2   3   0 NaN
3  25  40  53  67 NaN

In [8]:
a.shape

(4, 5)

In [12]:
'''
loc for names
iloc for indexes
'''
a.iloc[3,2]
# -----OR----
a.iloc[3:4,2:3]

    2
3  53

In [17]:
a.iloc[2:4, 1:4]
# -----OR----
a.iloc[[2,3],[1,2,3]]

    1   2   3
2   2   3   0
3  40  53  67

In [8]:
a = pd.DataFrame([[4,5,1,5,9],[8,6,5,7],[6,2,None,0],[25,40,53,67]], columns=["A", 'B','C','D','E'])
print(a)      # change columns name not row default

    A   B     C   D    E
0   4   5   1.0   5  9.0
1   8   6   5.0   7  NaN
2   6   2   NaN   0  NaN
3  25  40  53.0  67  NaN

In [9]:
b = pd.read_csv('sample5.csv')
print(b)
# print(b.to_string())   # to print entire table

          SYMBOL SERIES         DATE1  PREV_CLOSE  OPEN_PRICE  HIGH_PRICE  \
0      20MICRONS     EQ   24-Dec-2020       40.15       40.65       40.95
1     21STCENMGM     EQ   24-Dec-2020       10.25       10.35       10.35
2     3IINFOTECH     EQ   24-Dec-2020        5.15        5.40        5.40
3        3MINDIA     EQ   24-Dec-2020    21077.15    21280.00    21290.00
4         3PLAND     EQ   24-Dec-2020        9.30        8.85        9.75
...          ...    ...           ...         ...         ...         ...
2005   ZODJRDMKJ     EQ   24-Dec-2020       28.30       28.55       29.90
2006        ZOTA     EQ   24-Dec-2020      144.20      147.00      147.00
2007       ZUARI     EQ   24-Dec-2020       90.55       91.00       94.00
2008   ZUARIGLOB     EQ   24-Dec-2020       62.85       63.95       64.05
2009   ZYDUSWELL     EQ   24-Dec-2020     1904.75     1919.00     2010.00

      LOW_PRICE LAST_PRICE  CLOSE_PRICE  AVG_PRICE  TTL_TRD_QNTY  \
0         36.25      37.85        37.80      38.67        444734
1         10.05      10.05        10.05      10.10          3047
2          5.40        5.4         5.40       5.40       1841070
3      21100.00      21150     21153.20   21170.13          2538
4          8.85       9.75         9.75       9.32          4718
...         ...        ...          ...        ...           ...
2005      28.15       28.3        28.30      28.44          1648
2006     143.00      146.9       146.65     145.33         16596
2007      91.00         93        92.45      92.45        235368
2008      61.45      62.45        62.55      63.22        269999
2009    1886.00       1910      1947.60    1934.75         53382

      TURNOVER_LACS  NO_OF_TRADES DELIV_QTY DELIV_PER
0            171.97          2741    212456     47.77
1              0.31            20      2448     80.34
2             99.42           863   1841070       100
3            537.30          1618      1450     57.13
4              0.44            24      4528     95.97
...             ...           ...       ...       ...
2005           0.47            37      1375     83.43
2006          24.12           133      4197     25.29
2007         217.60           881    214993     91.34
2008         170.69          1363    242654     89.87
2009        1032.81          6375     39197     73.43

[2010 rows x 15 columns]

In [10]:
b.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,24-Dec-2020,40.15,40.65,40.95,36.25,37.85,37.80,38.67,444734,171.97,2741,212456,47.77
1,21STCENMGM,EQ,24-Dec-2020,10.25,10.35,10.35,10.05,10.05,10.05,10.10,3047,0.31,20,2448,80.34
2,3IINFOTECH,EQ,24-Dec-2020,5.15,5.40,5.40,5.40,5.4,5.40,5.40,1841070,99.42,863,1841070,100
3,3MINDIA,EQ,24-Dec-2020,21077.15,21280.00,21290.00,21100.00,21150,21153.20,21170.13,2538,537.30,1618,1450,57.13
4,3PLAND,EQ,24-Dec-2020,9.30,8.85,9.75,8.85,9.75,9.75,9.32,4718,0.44,24,4528,95.97

In [12]:
print(b['SYMBOL'].dtype)
print(b['AVG_PRICE'].dtype)
print(" ")
print(b['AVG_PRICE'])
b['AVG_PRICE'][334]

object
float64

0          38.67
1          10.10
2           5.40
3       21170.13
4           9.32
          ...
2005       28.44
2006      145.33
2007       92.45
2008       63.22
2009     1934.75
Name: AVG_PRICE, Length: 2010, dtype: float64

15.69